@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url(alt5.png);
}

.nav {
  padding: 25px 0;
  background-color: transparent;
  display: flex;
  justify-content: space-evenly;
}

.nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  padding: 10px;
  background-color: transparent;
  transition: 0.3s;
}

.nav a:hover {
  border: 1.5px solid #fff;
  padding: 10px;
  border-radius: 10px;
  color: #0a2e32;
}

.logo {
  width: 230px;
  height: auto;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.text1 {
  color: #fff;
  left: 25%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 75%;
  font-size: 1.2em;
  font-weight: 300;
  background-color: #00000053;
}

.text2 {
  color: #fff;
  left: 60%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 38%;
  background-color: #00000053;
  text-align: center;
}

.downloadbtn {
  display: flex;
  left: 60%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 55%;
}

.img1 {
  width: 150px;
  height: auto;
  margin-right: 15px;
  transform: translateY(0);
}

.img1:hover {
  transform: translateY(-3px);
}

.img2 {
  width: 190px;
  height: auto;
  margin-right: 15px;
  transform: translateY(0);
}

.img2:hover {
  transform: translateY(-3px);
}

.img3 {
  width: 150px;
  height: auto;
  transform: translateY(0);
}

.img3:hover {
  transform: translateY(-3px);
}
